<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
        </script>
    </head>
    <body>
        <div class ="main-content">
           {{>header}}
        <img class = "portrait" src="/img/Vishalraj_Jadeja.jpg" alt="Bapu's photo">
        <p>Created by {{name}}. It uses data from mapbox.com and darksky.net.</p>
        </div>
        
        {{>footer}}
    </body>
</html>